/* Import Less files */
@import "lib-mixins";
@import "lib-reset";

/* Import lib-rem.less if supportREM opened. */
@import "lib-rem";



/**----------------------------------------------
 >>> Table of Contents:
 ------------------------------------------------
 0.0 global
 1.0 main-container
 2.0 page-heading
 3.0 navigation
 4.0 page-story
 ------------------------------------------------
*/
/**
--  0.0 global
*/

.header-color {
  background: #ffffff;
  color: #646464;
}

/**
--  1.0 main-container
*/
.main-container {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: auto;
  position: absolute;
}


/**
--  2.0 page-heading
*/

.page-heading {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
}

.page-heading h3 {
  color: #ffffff;
  font-size: 7em;
  font-weight: bold;
  font-family: "Avenir", sans-serif;
  padding-top: 20%;
  z-index: 1 !important;
}

.page-heading .overlay {
  position: absolute;
  display: block;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: #25766d;
  opacity: 0.5;
  z-index: 0;
}
/**
--  3.0 navigation
*/

#header.fixed {
  position: fixed !important;
}

#header.light {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

#header {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  transform: translate3D(0px, 0px, 0px);
  min-width: 320px;
  width: 100%;
  height: auto;
  top: 0;
  margin: 0 auto;
  text-align: center;
  background: none;
  -webkit-transform: translateZ(0);
  translation: transform 0.5s ease, opacity 0.5s ease;
}

#header-overlay {
  position: absolute;
  display: block;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out
}

.header-menu
#header-container {
  position: relative;
  margin: 0 auto;
}

#header-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  transition: all 0.3s ease-in-out
}

#web-logo {
  position: relative;
  display: inline-block;
  z-index: 9999;
  height: 100%;
  float: left;
}
.website-logo img {
  position: absolute;
  display: block;
  max-width: none;
  min-height: 25px;
  max-height: 35%;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#web-logo a {
  transform: none;
}

#top-nav {
  display: block;
  background: transparent;
  list-style: none;
  height: 100%;
  position: relative;
}

#top-nav .top-menu {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  top: 50%;
  left: 0;
  bottom: 0;
  margin-top: -15px;
  text-align: right;
}

#top-nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

#top-nav li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  transform: none;
}


/**
--  4.0 page-story
*/

.page-story {
  padding-bottom: 30px;
}

.page-story > article {
  padding: 32px 64px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(75, 75, 75, 0.5);
}

article {
  margin: 40px auto;
}
article > header.page-header {
  text-align: center;
  font-family: 'Computer Modern Bright Semibold', sans-serif;
  letter-spacing: -1px;
  font-style: italic;
  border: none;
}
.page-header {
  margin: 30px 0;
}

article h2,
article h3,
article h4,
article h5 {
  font-family: 'Computer Modern Bright Semibold', sans-serif;
  font-weight: 500;
  color: #25766d;
}
article > header.page-header h1 {
  font-weight: 500;
  font-size: 48px;
}
#secondary-page-header {
  display: block;
  margin: 0;
  font-size: 24px;
  letter-spacing: 1px;
}
article h2 {
  font-size: 26px;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}
article h3 {
  font-size: 20px;
  word-spacing: -2px;
}
article p,
article blockquote {
  font-family: 'Computer Modern Serif', serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  word-spacing: 2px;
  font-weight: 500;
}
article ol {
  font-family: 'Computer Modern Serif', serif;
  font-weight: normal;
  margin: 0 0 16px 1.5em;
  list-style: decimal outside;
}
article ol li {
  font-family: 'Computer Modern Serif', serif;
  font-weight: normal;
}
